<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link type="text/css" rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron">
        <h2>About</h2>
    </div>
    <ul class="navbar navbar-dark bg-dark">
        {{> navbar}}
    </ul>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="image-wrapper float-left pr-3">
                <img src="mycar.jpg" alt="mycar" height="250px" width="440px">
            </div>
            <div class="single-post-content-wrapper p-3">
                <p class="col-md-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo mi in ipsum cursus feugiat.
                    Fusce sed posuere massa,
                    non cursus mi. Sed a rutrum lacus. Aenean sed nunc quis purus vestibulum tempus. Sed et lacus eu
                    velit pulvinar fermentum.
                    Quisque semper efficitur massa, at tincidunt est venenatis eget. In hendrerit lacus nec diam
                    convallis, ultrices elementum purus posuere.
                </p>

                <p class="col-md-6">
                    Nullam ipsum ex, rutrum sit amet vestibulum et, pretium non ante. Fusce lobortis id massa a
                    iaculis. Vivamus sit amet dui eu neque blandit
                    rhoncus. Ut ut imperdiet elit. Sed commodo a velit vel malesuada. Quisque convallis sapien mauris,
                    ac laoreet velit commodo id.
                    Sed porttitor nisi et augue maximus fermentum aliquet a nulla. Sed sed ornare leo, tristique
                    vestibulum mauris.
                    Praesent dapibus, nisl quis condimentum fringilla, mi sapien cursus magna, et malesuada mi nibh sit
                    amet libero.
                    Pellentesque sed massa vulputate, viverra orci vel, tincidunt sapien. Cras accumsan vestibulum
                    scelerisque. Nunc aliquam nunc id libero efficitur pulvinar.
                    Proin vel luctus tortor. Duis mauris tellus, placerat eget augue quis, mattis dignissim eros.
                </p>
            </div>
        </div>
    </div>
</body>

</html>