<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page!</title>
    <link type="text/css" rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron">
        <h2>Home Page</h2>
    </div>

    <ul class="navbar navbar-dark bg-dark">
        {{> navbar}}
    </ul>
    <div class="container-fluid">
        <p class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit ante, aliquet sed eleifend eget,
            iaculis vel leo. Nam vulputate ac felis id tempus.
            Aliquam vel ante a nulla fringilla consequat. Aliquam mattis pellentesque risus, a blandit est vestibulum
            ut. Donec facilisis libero non ex cursus accumsan.
            Curabitur in porta diam. Fusce a gravida ligula. Nulla aliquam nunc a vestibulum consectetur. Suspendisse
            auctor semper vulputate.
            Nam mollis arcu vitae gravida finibus.
            Praesent sed tellus ligula. Curabitur ipsum turpis, posuere semper elit vitae, iaculis ornare arcu. Donec
            pellentesque et nisi in fermentum.
        </p>
    </div>



</body>

</html>