<ul class="nav justify-content-Left">
<li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="gridDisplay">Grid Display</a>
</li>        
</ul>
